.container {
    height: 263px;
    width: 263px;
}

.circleContainer {
    position: absolute;
    /*border: 1px solid #000;*/
    border-radius: 50%;
    width: 250px;
    height: 250px;
    background: transparent;
    transform: rotateZ(0deg);
    z-index: 1;
    top: 26px;
    left: 12px;
}

.svgContainer {
    position: relative;
}

.circle{
    /*height: 12px;*/
    /*width: 12px;*/
    background: green;
    border-radius: 50% ;
    position: absolute;
    left: -9px;
    top: calc(50% - 8px);
}