.container {
    height: 158px;
    width: 263px;
    overflow: hidden;
}

.circleContainer {
    position: absolute;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    background: transparent;
    transform: rotateZ(0deg);
    z-index: 1;
    top: 26px;
    left: 12px;
    pointer-events: none;
}


.circle{
    background: green;
    border-radius: 50% ;
    position: absolute;
    left: -9px;
    top: calc(50% - 8px);
}
